<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>MAGNASTONE</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='face.ico') }}">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	
	<!-- JavaScript -->
	<script src="{{ url_for('static', filename='/js/jquery_3.6.0.min.js') }}" ></script>
	<script src="{{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }}" ></script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/aos/aos.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='/vendor/bootstrap-icons/bootstrap-icons.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='/vendor/boxicons/css/boxicons.min.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='/vendor/glightbox/css/glightbox.min.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='/vendor/remixicon/remixicon.css') }}"  type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='/vendor/swiper/swiper-bundle.min.css') }}"  type="text/css">

</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-center">
		<div class="container d-flex align-items-center justify-content-between">

		<div class="logo">
			<h1><a href="#hero"><img src="{{ url_for('static', filename='/images/bluey.png') }}" ></a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
		</div>

		<nav id="navbar" class="navbar">
			<ul>
			<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
			<li><a class="nav-link scrollto" href="#prediction">Prediction</a></li>
			<li><a class="nav-link scrollto" href="#description">Description</a></li>
			<li><a class="nav-link scrollto " href="#ourteam">Our Team</a></li>
			<li><a class="getstarted scrollto" href="#prediction">Get Started</a></li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

		</div>
	</header><!-- End Header -->

	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">

		<div class="container">
		<div class="row">
			<div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
			<h1 data-aos="fade-up">Magna Stone</h1>
			<h1 data-aos="fade-up">Stone Prediction</h1>
			<h2 data-aos="fade-up" data-aos-delay="400">Website ini dibuat khusus untuk mendeteksi batuan dari gambar yang diberikan.
				Adapun dataset yang Batuan, terdapat 7 kelompok batuan yang dapat diklasifikasi yaitu Coal, Quartzite, Sandstone, Marbel,
				Limestone, Granite, dan Basalts.
				Untuk dapat menggunakan aplikasi ini, pengguna hanya mengunggah sebuah gambar dengan format 'JPG'. 
				Hasil deteksi objek akan ditampilkan setelah pengguna mengunggah gambar tersebut.</h2>
			<div data-aos="fade-up" data-aos-delay="800">
				<a href="#prediction" class="btn-get-started scrollto">Get Started</a>
			</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
			<img src="{{ url_for('static', filename='/images/limestone4.JPG') }}" height="300px" class="img-fluid animated" alt="">
			</div>
		</div>
		</div>

	</section><!-- End Hero -->

	 <!-- ======= prediction ======= -->
	 <section id="prediction" class="prediction">
		<div class="container">
  
		  <div class="section-title" data-aos="fade-up">
			<h2>Prediction</h2>
		  </div>
  
		  <div class="row content">
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
			</br>
			<h3 style="margin-left: 50px;">Upload Gambar </h3>
				<form style="margin-left: 50px;">
					<!-- Input atau Upload Gambar dari Pengguna -->
					<img src="{{ url_for('static', filename='/images/stone.JPEG') }}" width="300" ></img>
					<p>silahkan upload sebuah gambar</p>
					<p>
						<input type="file" id="input_gambar" name="file">
					</p>
					</br>
					<!-- Tombol Prediksi -->
					<button type="submit" id="prediksi_submit" class="btn btn-default btn-lg btn-learn-more">Prediksi</button>
				</form>
			</div>
			<div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
			  <!-- Bagian Halaman untuk Hasil Prediksi -->
				<div id="hasil_prediksi" align="center">
					<!-- Hasil Prediksi akan ditampilkan di sini-->
				</div>
			</div>
		  </div>
  
		</div>
	  </section><!-- End prediction Section -->

	  <!-- Description -->
	  <section id="description" class="description">
		<div class="container">
  
		  <div class="section-title" data-aos="fade-up">
			<h2>Description</h2>
		  </div>
  
		  <div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
			<div class="col-lg-5">
				<div align="center">
					<h1>COAL</h1>
					<img src="{{ url_for('static', filename='/images/5.JPG') }}" ></img>
				</div>
			</div>
			<div class="col-lg-7">
				<h4>Batuan coal adalah batuan yang terbentuk dari bahan organik yang telah terkonservasi dalam kerak bumi selama berabad-abad. Batuan coal ini biasanya terdiri dari batu bara yang merupakan salah satu sumber energi yang banyak digunakan untuk keperluan industri dan rumah tangga.Manfaat utama dari batuan coal adalah sebagai sumber energi yang dapat dijadikan bahan bakar untuk menghasilkan tenaga listrik. Selain itu, batuan coal juga dapat digunakan sebagai bahan baku untuk memproduksi baja dan plastik.Batuan coal dapat ditemui di berbagai belahan dunia, terutama di negara-negara yang memiliki lahan pertambangan yang cukup luas seperti Amerika Serikat, Rusia, China, dan Australia. Namun, di Indonesia sendiri, batuan coal juga banyak ditemui di daerah Kalimantan, Sumatra, dan Papua.</h4>
			</div>
		</div><!-- End Coal-->

		<div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
			<div class="col-lg-5">
				<div align="center">
					<h1>Quartzite</h1>
					<img src="{{ url_for('static', filename='/images/images(69).JPG') }}"></img>
				</div>
			</div>
			<div class="col-lg-7">
			  <h4>
				Batuan Quartzite adalah jenis batuan yang terbentuk dari proses metamorfisme batuan sedimen kuarsa seperti pasir kuarsa. Batuan ini memiliki struktur kristal yang rapat dan memiliki warna yang bervariasi, mulai dari putih, abu-abu, hingga coklat tua.

							Salah satu manfaat utama dari batuan Quartzite adalah sebagai bahan bangunan. Batuan ini memiliki kekerasan yang tinggi sehingga dapat digunakan sebagai bahan utama dalam pembuatan paving block, batu bata, dan keramik. Selain itu, batuan Quartzite juga dapat digunakan sebagai bahan dasar untuk memproduksi kristal kuarsa yang banyak digunakan sebagai bahan industri.
							
							Batuan Quartzite dapat ditemukan di berbagai belahan dunia, terutama di daerah-daerah yang memiliki lahan pertambangan yang cukup luas seperti Brazil, India, dan Afrika Selatan. Namun, di Indonesia sendiri, batuan Quartzite juga banyak ditemukan di daerah Jawa Tengah dan Jawa Timur.
			  </h4>
			</div>
		  </div><!-- End F.A.Q Item-->

		  <div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
			<div class="col-lg-5">
				<div align="center">
					<h1>Sandstone</h1>
					<img src="{{ url_for('static', filename='/images/318.JPG') }}" height="200px" ></img>
				</div>
			</div>
			<div class="col-lg-7">
			  <h4>
				Batuan Sandstone adalah jenis batuan yang terbentuk dari proses sedimentasi pasir yang terkonsolidasi selama berabad-abad. Batuan ini memiliki warna yang bervariasi mulai dari putih, abu-abu, hingga kecoklatan. Teksturnya yang halus dan permukaan yang licin membuat batuan Sandstone banyak digunakan sebagai bahan bangunan.

							Manfaat utama dari batuan Sandstone adalah sebagai bahan bangunan. Batuan ini banyak digunakan sebagai bahan dasar untuk pembuatan paving block, batu bata, keramik, dan lain-lain. Selain itu, batuan Sandstone juga dapat digunakan sebagai bahan dasar untuk memproduksi pasir kuarsa yang banyak digunakan sebagai bahan industri.
							
							Batuan Sandstone dapat ditemukan di berbagai belahan dunia, terutama di daerah-daerah yang memiliki lahan pertambangan yang cukup luas seperti Amerika Serikat, Australia, dan India. Namun, di Indonesia sendiri, batuan Sandstone juga banyak ditemukan di daerah Jawa Tengah dan Jawa Timur.
			  </h4>
			</div>
		  </div><!-- End F.A.Q Item-->

		  <div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
			<div class="col-lg-5">
				<div align="center">
					<h1>Marble</h1>
					<img src="{{ url_for('static', filename='/images/1 (416).JPG') }}" height="200px" ></img>
				</div>
			</div>
			<div class="col-lg-7">
			  <h4>
				Batuan marble adalah jenis batuan metamorf yang terbentuk dari proses metamorfisme batuan beku seperti granit atau batuan sedimen karbonat seperti kapur. Batuan ini memiliki struktur kristal yang rapat dan permukaan yang halus, sehingga banyak digunakan sebagai bahan bangunan dan dekorasi.

							Manfaat utama dari batuan marble adalah sebagai bahan bangunan dan dekorasi. Batuan ini banyak digunakan sebagai bahan dasar untuk pembuatan lantai, dinding, dan meja. Selain itu, batuan marble juga dapat digunakan sebagai bahan dasar untuk membuat patung dan lukisan.
							
							Batuan marble dapat ditemukan di berbagai belahan dunia, terutama di daerah-daerah yang memiliki lahan pertambangan yang cukup luas seperti Italia, Spanyol, dan Turki. Namun, di Indonesia sendiri, batuan marble juga banyak ditemukan di daerah Jawa Tengah dan Jawa Timur.
			  </h4>
			</div>
		  </div><!-- End F.A.Q Item-->

		  <div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
			<div class="col-lg-5">
				<div align="center">
					<h1>Limestone</h1>
					<img src="{{ url_for('static', filename='/images/0.JPG') }}" height="200px" ></img>
				</div>
			</div>
			<div class="col-lg-7">
			  <h4>
				Batuan limestone adalah jenis batuan sedimen karbonat yang terbentuk dari proses pengendapan dan pengerasan oleh air laut atau air tawar. Batuan ini memiliki warna yang bervariasi, mulai dari putih, abu-abu, hingga kecoklatan. Manfaat utama dari batuan limestone adalah sebagai bahan bangunan. Batuan ini banyak digunakan sebagai bahan dasar untuk pembuatan paving block, batu bata, keramik, dan lain-lain. Selain itu, batuan limestone juga dapat digunakan sebagai bahan dasar untuk memproduksi semen yang banyak digunakan dalam industri konstruksi. Batuan limestone dapat ditemukan di berbagai belahan dunia, terutama di daerah-daerah yang memiliki lahan pertambangan yang cukup luas seperti China, India, dan Amerika Serikat. Namun, di Indonesia sendiri, batuan limestone juga banyak ditemukan di daerah Jawa Tengah dan Jawa Timur.
			  </h4>
			</div>
		  </div><!-- End F.A.Q Item-->

		  <div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="600">
			<div class="col-lg-5">
				<div align="center">
					<h1>Granite</h1>
					<img src="{{ url_for('static', filename='/images/8.JPG') }}" height="200px" ></img>
				</div>
			</div>
			<div class="col-lg-7">
			  <h4>
				Batuan granite adalah jenis batuan beku yang terbentuk dari proses pengkristalan magma atau lava yang membeku di dalam kerak bumi. Batuan ini memiliki struktur kristal yang rapat dan permukaan yang halus, sehingga banyak digunakan sebagai bahan bangunan dan dekorasi. Manfaat utama dari batuan granite adalah sebagai bahan bangunan dan dekorasi. Batuan ini banyak digunakan sebagai bahan dasar untuk pembuatan lantai, dinding, dan meja. Selain itu, batuan granite juga dapat digunakan sebagai bahan dasar untuk membuat patung dan lukisan. Batuan granite dapat ditemukan di berbagai belahan dunia, terutama di daerah-daerah yang memiliki lahan pertambangan yang cukup luas seperti Brazil, India, dan Cina. Namun, di Indonesia sendiri, batuan granite juga banyak ditemukan di daerah Jawa Tengah dan Jawa Timur.
			  </h4>
			</div>
		  </div><!-- End F.A.Q Item-->

		  <div class="row description-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="700">
			<div class="col-lg-5">
				<div align="center">
					<h1>Basalts</h1>
					<img src="{{ url_for('static', filename='/images/22.JPG') }}" height="200px" ></img>
				</div>
			</div>
			<div class="col-lg-7">
			  <h4>
				Batuan basalts adalah jenis batuan beku yang terbentuk dari proses pengkristalan magma atau lava yang membeku di permukaan kerak bumi. Batuan ini memiliki struktur kristal yang kasar dan permukaan yang keras, sehingga banyak digunakan sebagai bahan bangunan dan dekorasi. Manfaat utama dari batuan basalts adalah sebagai bahan bangunan dan dekorasi. Batuan ini banyak digunakan sebagai bahan dasar untuk pembuatan paving block, batu bata, dan keramik. Selain itu, batuan basalts juga dapat digunakan sebagai bahan dasar untuk membuat patung dan lukisan. Batuan basalts dapat ditemukan di berbagai belahan dunia, terutama di daerah-daerah yang memiliki lahan pertambangan yang cukup luas seperti Amerika Serikat, Rusia, dan Cina. Namun, di Indonesia sendiri, batuan basalts juga banyak ditemukan di daerah Jawa Tengah dan Jawa Timur.
			  </h4>
			</div>
		  </div><!-- End F.A.Q Item-->

		</div>
	  </section>
	  <!-- End Description -->

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<section id="ourteam" class="ourteam">
	<div id="anggotaKelompok" class="container-fluid text-center">
		<div class="section-title" data-aos="fade-up">
			<h2>OUR TEAM</h2>
			<p>FINAL PROJECT</p>
		  </div>
		<div class="row slideanim">
			<div class="col-sm-4" data-aos="fade-up">
				<img src="{{ url_for('static', filename='/images/firman.png') }}" height="300px" ></img>
				<h4>Muhammad Firman Hermawan</h4>
				<p>Sekolah Tinggi Teknologi Bandung</p>
				<p>Modeling</p>
			</div>
			<div class="col-sm-4" data-aos="fade-up">
				<img src="{{ url_for('static', filename='/images/pitung.png') }}" height="200px" ></img>
				<h4>Adriansyah Pratama Putra</h4>
				<p>Univeristas Pendidikan Indonesia</p>
				<p>Data Crawling (Data Acquisition) dan Pre-Processing Dataset</p>
			</div>
			<div class="col-sm-4" data-aos="fade-up">
				<img src="{{ url_for('static', filename='/images/ferdy.png') }}" height="280px" ></img>
				<h4>Ferdy wahyudi</h4>
				<p>STMIK AMIK BANDUNG</p>
				<p>Model Research, Modeling, Model Evaluation dan Deployment</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim" data-aos="fade-up">
			<div class="col-sm-6">
				<img src="{{ url_for('static', filename='/images/amata.png') }}" height="200px" ></img>
				<h4>Amata Kara Perdani Handiman</h4>
				<p>Univeristas Pendidikan Indonesia</p>
				<p>Front-End Engineering dan Desainer</p>
			</div>
			<div class="col-sm-6" data-aos="fade-up">
				<img src="{{ url_for('static', filename='/images/fanisa.png') }}" height="190px" ></img>
				<h4>Fanisa Nimastiti</h4>
				<p>IT Telkom Purwokerto</p>
				<p>Front-End Engineer dan Model Evaluation</p>
			</div>
	    </div>
	</div>
	</section>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
		<div class="container">
  
		  <div class="row">
  
			<div class="col-lg-2 col-md-4 col-6">
			  <img src="{{ url_for('static', filename='/images/orbit_logo.png') }}" class="img-fluid" alt="" data-aos="zoom-in">
			</div>
  
			<div class="col-lg-2 col-md-4 col-6">
			  <img src="{{ url_for('static', filename='/images/bluey.png') }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
			</div>
  
			<div class="col-lg-2 col-md-4 col-6">
			  <img src="{{ url_for('static', filename='/images/telkom.png') }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
			</div>
  
			<div class="col-lg-2 col-md-4 col-6">
			  <img src="{{ url_for('static', filename='/images/upi.png') }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
			</div>
  
			<div class="col-lg-2 col-md-4 col-6">
			  <img src="{{ url_for('static', filename='/images/stmikamik.png') }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
			</div>
  
			<div class="col-lg-2 col-md-4 col-6">
			  <img src="{{ url_for('static', filename='/images/sttb.png') }}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
			</div>
  
		  </div>
  
		</div>
	  </section><!-- End Clients Section -->

	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-6 text-lg-left text-center">
			<h2>MagnaStone</h2>
			<div class="copyright">
				&copy; Copyright <strong>Vesperr</strong>. All Rights Reserved
			</div>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/vesperr-free-bootstrap-template/ -->
				Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
			</div>
			</div>
			<div class="col-lg-6">
			<nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
				<a href="#hero" class="scrollto">Home</a>
				<a href="#prediction" class="scrollto">Prediction</a>
				<a href="#">Privacy Policy</a>
				<a href="#">Terms of Use</a>
			</nav>
			</div>
		</div>
		</div>
	</footer><!-- End Footer -->
  
	<!-- Vendor JS Files -->
	<script  src="{{ url_for('static', filename='/vendor/purecounter/purecounter_vanilla.js') }}"></script>
	<script  src="{{ url_for('static', filename='/vendor/aos/aos.js') }}"></script>
	<script  src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='/vendor/glightbox/js/glightbox.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='/vendor/swiper/swiper-bundle.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='/vendor/php-email-form/validate.js') }}"></script>

	<!-- Template Main JS File -->
	<script  src="{{ url_for('static', filename='/js/main.js') }}"></script>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src="{{ url_for('static', filename='/js/client_side.js') }}"></script>

</body>
</html>
